*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    overflow: hidden;
}

/* HEADER */
/* SIDEBAR */
.bar{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    color: #fff;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar-icon{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px 20px;
}

.testo{
    margin-left: 10px;
}

.icone{
    display: flex;
    align-items: center;
    color: #fff;
    border: 0;
}

/* MAIN */
/* NAVBAR */

.navbar{
    width:100%;
}

.logo img{
    width: 60px;
    height: 60px;
}

.form-group{
    position: relative; 
}

.form-icon{
    position: absolute;
    top: 7px;
    left: 10px;
}

.navbar-collapse{
    margin-left: 20px;
}

.fa-bell{
    color: #ff8e00;
    margin: 5px;
}

.bell{
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu[data-bs-popper]{
    right: 0;
    left: none;
}

/* CONTENITORE */

.cont{
    background-color: #1b72e8;
    width:100%;
}

.cont-span{
    background-color: #165bba;
    cursor: pointer;
    transition-duration: 0.4s;
}

.cont-span:hover{
    background-color: #fff;
    color: #051e34;
}

/* COLONNE */

.cont-col{
    margin: 30px;
}

.classi{
    width: 500px;
}

.classi img{
    width: 25px;
}

.small-icon{
    transition-duration: 0.4s;
    cursor: pointer;
}

.small-icon:hover i{
    background-color: #1b72e8 ;
    color: #fff;
}

/* TODO */

#todo{
    height: 400px;
}

/* GRAFICO */

.list-group-item img{
    width: 100%;
} 
